<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Noodo Bakers</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>yamfoods_customer_app</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>We need your location to show nearby branches and improve your delivery experience.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>We need your location to provide accurate delivery tracking and show nearby branches.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>We need access to your photos to let you upload a profile picture.</string>
		<key>NSCameraUsageDescription</key>
		<string>We need camera access to let you take a profile picture.</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
		</array>
		<key>FirebaseAppDelegateProxyEnabled</key>
		<false/>
		<key>UIStatusBarHidden</key>
		<true/>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<!-- Whitelist telebirr deep link so iOS allows this app to launch it -->
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>telebirrcustomerApp</string>
		</array>
		<!-- Registered URL schemes for Deep Links and Google Sign-In -->
		<key>CFBundleURLTypes</key>
		<array>
		<!-- Registered URL schemes for com.noodobakers.customer -->
			<dict>
				<key>CFBundleURLName</key>
				<string>com.noodobakers.customer</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>noodobakers</string>
				</array>
			</dict>

		<!-- Registered URL schemes for Google Sign-In -->
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.772377488112-dglkfe7s8250166fhc113547935vqo3n</string>
				</array>
			</dict>
		</array>

		<!-- Google Sign-In configuration -->
		<!-- We got the client id from the firebase_options.dart file-->
		<key>GIDClientID</key>
		<string>772377488112-dglkfe7s8250166fhc113547935vqo3n.apps.googleusercontent.com</string>

	</dict>
</plist>
